@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index';

.card {
  background-color: #f8f8f8;
  padding: 10px;
}

    label,
    span,
    legend,
    select {
      font-size: 0.875rem !important;
      line-height: 1.5rem !important;
    }